node_modules
vendor
.git
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*.php
*.md
.vscode
.idea
tests
docker-compose.yml
Dockerfile
.dockerignore
